
body{
      height: 100%;
    padding: 0;
    margin: 0;

}

.h1-container {
    background-color: #E30613;
    font-size: 1.4em;
    margin: 0 auto;
    padding: 15px 0;
    width: 750px;
    /*margin-top: 100px;*/
    position: relative;
    top: 175px;
    left: calc(50%-375px);
}
.featured-image {
    background-repeat: no-repeat;
    padding: 0;
    /*background-color: red;*/
    height: 100%;
    background-position: top;
}
.menu-bar {
    height: 1em;
    padding-right: 1em;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.logo {
    width: 138px;
    margin: 1em;
    background-position: center center;
    background-size: 100px auto;
    background-repeat: no-repeat;
    height: 47px;
}
ul.menu {
    margin: 0;
    margin-right: 1em;
    padding: 0;
    list-style: none;
    display: flex;
    width: 750px;
    align-items: center;

    
    
}

ul.menu li:hover ul.sub-menu{display: block;}
ul.sub-menu {
    position: absolute;
    display: none;
    list-style: none;
    font-size: 90%;
    margin: 0;
    right: -25%;
    padding: 3px;
    box-shadow: 1px 1px 1px #ccc;
    width: 100%;

    color: black;
}
ul.sub-menu li{text-align: left !important;}

ul.menu li{  opacity: .5; position: relative; flex:1; text-align: center;  border-bottom:  1px solid white;}
ul.menu li:hover{  opacity: 1;  transition: opacity 1s ease 0;}

h1 {
  color: #fff;
  text-align: center;
  font-family: Nusaliver;
}
.h1-container > h2 {
  color: #fff;
  font-size: 0.9em;
  text-align: center;
}

.h1-container > h2::before, .h1-container > h2::after {
  content: ""
  margin: 0 9px;
}

button.more{
  margin: 0 auto;
  display: block;
  padding: .4em  1.4em;
  font-size: 1.4em;
  color: #fff;
  position: relative;
  top: 250px;
  /*line-height: 2em;*/
}
button.more:hover{background-color: white; color:#E30613;}

footer{display: none ;}