html{
      height: 100%;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, body, a, img, ul, ol, blockquote, pre {
  margin: 0; padding: 0; border: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  line-height: 1.52;
  background-color: #fff;
  text-rendering: optimizeLegibility;
}

.content-wrap {
  width: 34em;
  margin: 0 auto;
}
/***********  COLOURS **************/
.red-color{color: #E30613;}
.red-bg{background-color: #E30613}


/*********** ELEMENTS **************/
body, a {
  color: #171717;
}

a:hover {
  color: #ff8000;
  text-decoration: underline;
}

p {
  margin-bottom: 1.52em;
}

pre {
  font-size: 0.9em;
  overflow: auto;
  background: #fff;
  border: 1px dashed #d2d2d2;
  border-radius: 0.25em;
  margin-bottom: 1.8em;
  padding: 1em;
}

h1 {
  font-size: 2em;
  /*margin-bottom: 1em;*/
}

h2 {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.43;
  margin-bottom: 1.35em;
}

h3 {
  font-style: italic;
  text-align: center;
  font-weight: 400;
  font-size: 1.4em;
  margin-top: 1.8em;
  margin-bottom: 0.8em;
}

ol, ul {
  margin: 0 1.4em 1.4em 4em;
}

li {
  margin-bottom: 0.5em;
}

ul.classic{margin: 0;padding: 0;}
ul.classic li{list-style: none;}
ul.horizontal li{ display: inline-block;}

button{
  border:none;
  background-color: none;
  box-shadow: 1px 1px 3px 1px #444;
  cursor: pointer;
}
button:active{box-shadow: 0 0 0px 1px #444;}

blockquote {
  margin: 1.2em 3em;
  padding-left: 1em;
  font-style: italic;
}

hr {
  border: 0;
  border-top: 1px dashed #d2d2d2;
  height: 0;
  margin: 1.6em 0;
}

/* page header */

.header {
  margin: 3em 0 5em;
}

.header h1 {
  font-size: 2.6em;
  text-align: center;
  font-weight: 700;
  margin: 0;
}

.header a, .header a:hover {
  text-decoration: none;
  color: #171717;
}




/* media queries */

@media (min-width: 1600px) {
  body { font-size: 26px; }
}

@media (max-width: 900px) {
  body { font-size: 18px; }
}

@media (max-width: 690px) {
  .content-wrap {
    width: auto;
    padding: 0 1em;
  }
  .header {
    margin: 1em 0;
  }
  .header h1 {
    font-size: 1.4em;
    margin-bottom: 0.6em;
  }
  .header .description {
    font-size: 1em;
  }
  .article {
    margin: 1em 0 2.5em;
  }
  .archive {
    width: 80%;
    margin: 0 auto;
  }
  .archive * {
    float: none !important;
    line-height: 1.6 !important;
    width: auto !important;
    height: auto !important;
    text-align: left !important;
    border: 0 !important;
    margin: 0 !important;
  }
  footer .nav {
    margin: 1em 0;
  }
  footer .about {
    padding: 0;
    font-size: 0.9em;
    padding-top: 1.6em;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    -ms-column-count: 1;
    column-count: 1;
  }
  footer .about p {
    margin-bottom: 1em;
  }
}




/********** fonts **********/

@font-face {
 font-family: Nusaliver;
 src: url(data:font/ttf;base64,AAEAAAALAIAAAwAwT1MvMmifh/4AAAE4AAAATmNtYXDjIF5yAAADAAAAAXpnYXNw//8AAwAAXDgA
AAAIZ2x5ZoToJSgAAAU8AABHKGhlYWTeAbA/AAAAvAAAADZoaGVhEH4IAQAAAPQAAAAkaG10eMNo
AMYAAAGIAAABdmxvY2E0dSKQAAAEfAAAAL5tYXhwBMQA0gAAARgAAAAgbmFtZcIBSF8AAExkAAAO
3HBvc3QzcTtWAABbQAAAAPUAAQAA//0AANu/8KhfDzz1AAsIAAAAAAC69G1PAAAAALr3+GD//f5Q
CP4HQgAAAAkAAQAAAAAAAAABAAAHPv5OAEMJYP/9//UI/QABAAAAAAAAAAAAAAAAAAAAXQABAAAA
XgChAAcAAAAAAAIAEAAvAEIAAAQMAAAAAAAAAAAEFAOEAAkACAWaBTMAAAEbBZoFMwAAA9EAZgIS
BQICAAAAAAAAAAAAAAAChwAAAAAAAAAAAAAAAE1ZRk8AQAAgIB0F0/5RATMHPgGyAAAGAAEAAAAA
AAI5AAACuwAAAlj//gPj//4GowAABLD//gcI//4F3P/+AfYAAAPo//4DhP/+A+b//gXX//4B8QAD
BK8AAQHzAAAESgAABwcAAASwAAAF2wAABK8AAAXbAAAFdwAABdsAAAV3AAAESwAABEsAAAJW//4B
8f/+BRP//gSuAAAErP/+BEz//gg0//4FdP/9BXoAAQZAAAEFEwABBXj//wUR//8GPwABBj8AAQK6
//8FEf//BdwAAQV6AAEImQABBdr//wY9//8FEf//B24AAQXcAAEFEwABBwgAAQXb//8Hz///CWD/
/wUTAAEGpQABBj7//wSyAAAErwAABEsAAARNAAAErwAABEsAAARLAAAESwAABK8AAAK9AAADhQAA
BXcAAAK8//4HCP/+BK3//gUS//4DhP/+BLD//gSt//4D6P/+BEn//gRM//4Erf/+BXb//gSu//4E
rf/+BRL//gRM//4ETAAABEwAAAJXAAAAAAAAAAAAAgABAAAAAAAUAAMAAQAAARoAAAEGAAABAAAA
AAAAAAECAAAAAgAAAAAAAAAAAAAAAAAAAAEAAAMEBQYHCAkKCwwNDg8QERITFBUWFxgZGhscHR4f
ICEiIyQlJicoKSorLC0uLzAxMjM0NTY3ODk6Ozw9AD4AAAAAP0BBQkNERUZHSElKS0xNTk9QUVJT
VFVWV1gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABZAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwAAAAAAAABaW1xdAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAYAAAABQAEAADAAQAWgBcAHoAoACiAK0DfiAZIB3/
/wAAACAAXABhAKAAogCtA34gGCAc////4//i/97/Y/+3/2P8oOBE4D4AAQAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAWABYAFgAWAGAAsAFoAeQCgAMGAywDcAPGBCYEhAS0BOwFDAVCBagF9gZQBrIH
Lge0CAoIiAjsCTYJeAnOChgKbAqwCygMHAx8DQgNaA3IDkwOug86D7oP9hBMEM4RMBGwEiwShBLq
E4AT7hRqFMgVNBWsFkQWvhcsF6oX5BguGIwY2hlEGbAaIhqYGywbfhvsHG4csh1IHaAd8B5MHrAe
/h9iH7YgBiBWINYhIiGEIgoiiCLiIzwjaCOUAAAAAgEAAAAFAAUAAAMABwAAIREhESUhESEBAAQA
/CADwPxABQD7ACAEwAAAAAACAAAAAAIeBzwAHAArAAATFxYfARUzBwYHAxcHFwYPAScmJwM3NS8B
Njc1NhMWFxYXBg8BJyYnJic2N7jNOjYfCgoPLx4KFBQlNx+ZOBAUCgoVEg0gjkFEMRYGSx+FS04s
HCpGBzwfL0EfcClNV/7DHx+4Rj8UHi5XAVwVzB/2CRUfOfqVIDI+UVA1HwoKHz5mRDcAAQACBBoD
oQc7AC8AAAEWHwEHFw8CJi8DJicGBxcHFw8BJicmJyYvASYnNyc3Nj8BFxYfARYXNzY/AQMaKCUw
CRMwHU47OGEwFAkUKRoJCQkmdDw4JyYPBB0HAxMJHSk3Vx0sNTkSHx0YK3QHOxsyYUMdh/tXBBlD
dH43Mx0wa2omfjASHiAtNT90ISwUHNUiIQoKCBVgFxAxNiowAAAAAAIAAAAABjYGpABsAHQAAAEW
FxYfAQcGBxYXNx8BBgcGBycPARcWFxYXFhcGBwYPARcPAQYHJi8BNSc3JwcGDwEXBwYPAScmLwE3
NjUmJwcmLwI2NzY/ARc3NjcmJwclJz8CBTY/AjY3NjcWFxYfAQcGBxc2NzU3NjcDDwEXNzY3JgRq
MSseEAoKEQosOSVlbgMZJzR4bgkJJDg9OhsBKDQ9TSUJCRIdNjMyEgoKXBwyIQkJCQ0hXCQtLxwJ
CQMPQDVDbkoEGDI8HKUcFAcMNCX+mi4JQVIBAj8KCTceLB4rFhgtJjcSBA4SLCcbFCOcNwkSZSML
EgakHysvP1wbNUMdGgkSNz07JiMSCYobKhcRHSs6JBwXDndKGxwwIw0hb2UbCQoKGzeBZRwzMhIS
GyZuHC8/ICAJEgo3STw8GAwcJRMyPDoiCTcuN2VAGxJJgVwvLQwGCBMhMqUcKCsbECeceDYv/VgT
d1MJM05OAAAAAQAAAAAEVwc8AFAAAAEWHwEPARYfARYfAQYPAi8BDwIfAhYfARYfAQ8DBgcGDwIG
BycmLwI3JyYvAjcXFh8BNyYvAQcvASYvAT8ENjc2Nyc/AgKwMTBGGgkFFWEpJxEMBRthaWGFYSMs
3bkpJlgdDxIJGlBpMicHAS0sLzpQIRwtGhIsIy1PG0caPkd7cxklwiPdRhsREhI1RmFPLjMiEwgI
NT4HPA8dR3JhKy0tFyZHARFhLBIjCSMaGyxYDx01JCsbT2E+GgcuNT6fYRUOPh4oR1hhWB8fPmoR
EQIQCRsdFyQJEkYqNxtPWD4sNRAcFzBpc1hHAAAFAAAAAAbkB0EAFAAxADkAVABdAAABFh8BAw8C
AQYPAS8BPwEBNj8CJRYXFhcWFwYPAgYHBgcnJicmJyYvAT8BNj8BHwEGBxc3NjcmARcWFxYfAgcG
BwYHBgcGByYnJi8BNzY/ATYTDwEXNzY/ASYFLUFCOOA4Szj+Eh9ISzgcCp4CAhIvJUv9REtKNCop
IQobL3k1TkJTJUNTNR8OIBMJQi5UXjg4OggvcCMVPQMVnz9DPTNCCSUgPilHNU1RYUM/Px8uOB4/
VDaOZwkJQjEsEx8HQQ00ev6eg3mD/K84CRMvQUvgA/k+RINnLggmKUc8UEVHjF4qIAkBChQtKj1B
VIMcgjgcJhPzMlolCTdDLP1HEwsaKD+MZzg5QDMqLB8RAhI5KFEv4EU0ehP+3kEvEwoZKC8HAAAD
AAAAAAV1B0AAQgBLAFEAAAEfARYfARYXBxcHBgcGBwYHFhc/AhcGDwEfARYXBgcGByYnJicPAgYH
Ji8CJi8BPwI2NzY/ASc3Jic3EzY3NhMGBwM/AjUmAQcWFzcmAy1oaUtRUxEkIBUfLRJNJRUfGiQ/
XV4qCCwqFR8UDAI9RmFSaSQwFVOnUWtdXlQ0MyAVFX1JHisyNhUfCgwJFVRNWVB2FQoKKT8qMP6u
Uwo/SRcHQAogI0WxU2lTIDRUchJMIR0TAkkqFGhXZZIfUx4rXl4tBx02CAMLNEkdAgMxNElEY4hT
iD4hHjpYU1RJAxHGAQUhPRT+szc7/uYqU2iIF/xTPjYJSSMAAAAAAf/9BLAB1Ac+ABMAABMXFhcH
FwcGBxcGBwYHJi8DN+DIFA8RGhIRCQkXJjM+NCxYGjQ0Bz5gHSgaTxovOoMvKBUOEyrJaU5gAAAA
AAEAAAAAA3YHPAApAAABFh8BFAcGDwEGDwIDFxUfAhYXFhcGDwEvAyYvAxM/ATY/AgJVWGVkFCBD
bjYuWUYeCjxaYz1PGAUaK1BagW20FSYyFAooPE8pO1luBzwDEW09RTsoWipEbYz+6h4oi3hjBSNF
Wzw7FBRGY+VEUpWpKAEXi4I3Nm5ZAAABAAAAAAMgBzwANAAAEx8CFh8BFhcWFxMHFQYHBgcGDwEG
DwEnJi8BNj8CNjc2Nyc3NSM3JyYnJi8CJic2Nza9mWJIMx5IHRkgDSQJDCEXKB0rtCw/dRszMBsR
HM9REiMWDgkJCQktFjEpOnVaMAYZJkIHPDZIdSdFfT9RQlf+8iQbR1I+SDk84SwuGxIoOy0rL7R0
Q01DXyRjEgmQPkkvK1BsMU03PgYAAAAAAQAAAyEDlAcAADoAAAEWFxYfAT8BFxYfAQcGBwYHJwYH
BgcXFhcGBwYHJw8BBgcmLwIHIycmLwE/AS8BJic2PwEXFhcnNjcBxjkwJCYHJmhwAg0HBw8eJgce
EBwRDSUmHQIqKj9KFywdLiYdDw87PDs0Hg8lLSVLIxEWHllhLzoeFR8HAAspHyxKHg8eCAdDFzk2
GDMWHxwOFyYkNTEoIgQPD28lJiE4eDsPDxQ3JTwPLDwpPy4sOwcaE1kxMAAAAQAAAGQFdQV2ADoA
AAEWHwIHFzIfARYXBgcGDwEnBgcWHwEWFwYPAi8CJi8DDwEmJyYvAjc2PwE2Nxc3Jic3Njc2AphG
OWIUFDFNYqdLKgoxPkubWBoXBRgxBw0NB0RiHhN2JBYUHR5EkkdLMicwFBQGIYk3NCdrDRodIzVG
BXYhN05+Tx0dCg1LR0smHgoKCBY+QYkVCCYxiQoKE1hCUJ0xCQkxBhciNgpYHERFOwESEzE1QIgx
JxAAAAABAAX+0gHeAY8AGgAAEzIfARYfAQYHBg8BBgcvATY3Nj8BJyYvATc2wkZIVxEOGAMkEC9v
NEJ2GBUiJCsQZx0CEE8tAY8nZyg2fjg2OztHGQ8IEEA+J0AvnSxCJzAhAAABAAECVgQ7A+YAHwAA
ARYfATczFxYXBgcGBycHJwcnDwEnBgcnJic2NzY/ATYCLEddJGQbiSUaFTxBUSRkHH8SrUlaKSkl
PR4VNEBbtkcD5hEBCQlJPlM+LxcECQkbCQkSHAkDDy4nTz05IBcbCQAAAQAAAAABrwGPABAAABMf
Ag8CBgcvAzY/ATbYlzAQECBAGyWPQCAQHRtQJQGPSEhPUDAQEg5IMEhnFyEgAwAAAAEAAAAABFUH
PAAdAAABFxYfAQ8BBgcDDwIGDwEGByYvAjc2NxM3ATc2A2mlHRIYGDsVJsgvgi8XDWo9RUFAggwM
FiV2RwFWmT0HPCNATnYjgjY0/p6Z+HY5SfgcBwwjO2okQEEBBHYDIuAcAAIAAAAABoYGoAAoAD0A
AAEWFzcXFhcWFxYfAhYfAQcGBwYPAgUHBS8ENzY/AjY/ATY3AQYPAQYPAhcWFzc2PwE2NzY3LwEC
gkxbNIBIRT9PPDd0TR4vDQ0JHSAtWnT+8pr+zMH0ZzMNDQocJ00YKGcnQAHbHTBaODxAGRkyQpo9
Q8EnGRkBQHQGoBcQDRkULSglMkFnjUZIgCdOTEVIgXOoQEAnwIGnZyZgYbSaP0F0RD3+mDotZxoz
gI6NKhYZFyrAOUg9UIFAAAAAAAEAAAAABE4GogAuAAABFzcFFh8BFhcHCwEXFR8BDwMmJyYvATY/
ASc3LwE3JwYPAS8BJic/AjY3NgIQI2oBDSgSRwsYI1MjDAwvGAxGmElQMSw7GwkXFwsLDAwMGyCk
gVIiDVKBXjZKJgaiGg1OLjuDODAa/tP+hhobJ1snnYM0Ch0uSI9GVyd2J1waDVsFFSdBdj1S0UJo
KiU1AAEAAAAABW4GnAA2AAABFxYfAgMHFzY3Fh8BBwYHBgcGBwYPAS8BJicmJzY3Njc2PwE2NycG
DwInJi8CNj8BNjc2AkTmTF1hDKltqVl1WVwYPExqYmtoflVsMYUkW1ouAjNRREE9SG0lGAw8MWEY
eV5LYQwfEZFWYGMGnCQoRbXC/kGpGBwIG0ZIhTIXAS8MJB04DAwYG0ZdcExSOEw8YqlfejEWM51V
GRdJnXkwPYUiPwEAAAEAAAAABH8GogA7AAABFhcWFxYXFhcGDwEWFxYXBgcGDwMnJicmJzcFNjc2
NyYnJi8BNj8BNj8BJicGDwEmJyYvATc2NzY3AlFdZFBQOSIdBQEsFyEvLBgDKzxjtuRncl9uRysi
AXhnck4vSGNVbX0TMdlHIBYqPExrcSYqWEgiFyhsWnMGohk3JkxOc2SAXGZQMSpdfGVoST9cOQsi
GjZDaEQiEDQzYicGCBp+YG0tOF1ELi0yKTkFEh49qyJZMCwBAAABAAAAAAWRBqAATQAAAR8CAxcH
BgcfAQYPAgYPARcHFwcGDwEvAjcmJwUnBycmLwImJxMnNyc/AxcWFxYfARYfAQcXDwEWHwE3MzU2
Nyc/ASc3Njc2A5/XWyJECwsaCNctBBNPZi4hCwsLCzgaKohEOC0WBxv+xDkLFzU8iBYUAzkMDAwM
OHEiRDU8Lyw4FgEiIgsiOA4fOBcXHAYMLQwMIiAwIwagTzla/tpbITJALWYxNDktEzFPF0MX7ikm
CzlPce0nKC0LFgsLF3xmLzcBJhdPFk+qIhcXCxcOHy0iLjgXWltPKCcLCwsiLnHLcUQLJCAbAAAA
AAEAAAAABQwGpQBUAAABHwEWHwEHFwcGDwEGBwYHJw8BBgcGBxYXNx8BFh8CBwYPAQYHBScmLwIm
JzY/ARc/AjY3Jw8CBg8BJyYnJi8BNjc2PwE2PwE2PwMXPwE2A9FUSTItNAoVCwgXXyMxDwZJfl8o
Ni0nDTJz51QZJjUKKhIiPzMs/u9eN0d0VB8VAxxffpNpNBgISh9paSMxX7IaJRgIFRQhESMgEgMq
CRY/X0kV3agxBqUfKgogXxU0FSwzNBwECRYVIDQhFBgnJhkLNUkrKdJ0aTEtXxMhSgsNCCo/LD0p
Kx8VCypeLDMVFRU1FhQVXyAfLD1UMjcwLmkrNHMrNEkqFRU/aQQAAAACAAAAAAWWBqEAKQAzAAAB
FhcWFxYXBwYHBgcGFTcfBQ8DBQYPASciLwQ/ATY/AQkBBQcWFz8BNj8BAqJPa0BAHRIvGU9ILUWi
I8aLaUYXDCNogP7SS1ijF1ZwgGg6DC9FIDJFASMBaf6gnSI5q5w/RCcGoR8PIjA+TZdLHiJSEksX
DAtddKMjaRd0aZceEAwMF12AonX0oklPlwFo/BlbQSwVDEESLzUAAAAAAQAAAAAFPwaiAFEAAAEW
HwEWHwIPARYXFh8BBg8BJwYHJw8CFw8CJyYvATY/ATY3ByYnBy8CPwIWHwE3Fhc3Nj8ELwEHBg8B
Ji8DPwE2PwEXNj8BNgLbOEnhMSU2VmwrGCkmJSsVIWAhJDIgVitAFRVBYGE2KysSBCAUAWAlMSBs
S3YrS9cnJEALMzlgJB02IBULFbfsKjdhKC5LQRUgICo3YXY5SGs4BqIOBzYYKVbXwWwoIx4tazQt
IAoIAgoVYeIgS0s2KxAmazE7YC00Cw8HCyBMtmxLFRgoFiEVAQsUImBsFTYLFWAXFAsNHktWSxZ2
GBMgCg0ICwgAAwAAAAAEKwacACoAMQA9AAABFxYfARMHFhcHFhcWFw8BBg8CJwcjLwM3Njc2Nycm
JyYnNj8EEwYHFzY3JgMHBg8BMzUXPwE2NwJduT88XD4fBBGQKigVCjNxL0KFzh4VPXxwNAopFhMq
KB8bDgQQEwEpSGeFpCgVcSUEKBa5Gw4KFQpxXBcSBpwVHjRm/teaPUnhNkU8So9cJyE+MxULSFyG
j6QpNCU3e0ddEQ4pM5qFZz3+uDxJKS9CJP03XS44PgsLCzMtOQACAAAAAAQjBqIAIgAsAAABHwQW
HwEGBwYHAw8BBgcmJyYnPwInJi8EPwIBBg8BFzcXPwEnAT/DkIZ7SCATFRYJFB/EUs1GVUhIIRLi
XRQfSlpxhh8KFT1xAVQsHCkzZx9cCj0GogopPlOFRlWFUV5GQP5ue8QgExYoOU25cSlnBRpIzoaQ
pJBd/rcfKWddCgoVkFIAAgAAAAAB/wODAA0AJQAAExcWHwEPAicmLwE3NhMXNxYXFh8CBg8CJwcm
JyYnJic3NjeWllUdGxJzT1hHNBIaM2NHGi0rLCwsEhYwLTQSYSMsJykZJBomIQODIwxVG4RYCRsh
SHM+Kv5bCQkRJBAcPnMnH08SEgkUDxgmHh+6FCAAAAAAAgAA/tEBxgOFABgAMgAAEx8BFhcWHwEH
BgcGDwEnBycmJzc2NzY3NhMfARYXFhcHFw8DJyYnNzY/AScmLwE2N69oRwstBhIICAsVHSowEECX
GRcICxUeKiMUkF8dAw0DGBAoR2BIRy4iQBQMDw8gGBAOGgOFGCgsBCYpQBglKx0bEBAIaB8pQC4p
HBQS/kcfSDdJMTZQIF9oSBAQHzlwNENnECMtQBsdAAAAAAEAAAAABKEF3AApAAABFhcWHwEHBgcB
BgcXFhcWFwUfAQcGByYnJi8BJi8BJicmLwE2PwE2NwECyUxIKyglCQkc/mkWBjc0RTlSARVUCS4y
UEZOOUmKOUmLSUI6LFMHMWUzMwFzBdwEGCc1CnhEUP5yKCwSLCckHYJ4eSUpBREnHzQ3GzBKDTMZ
O29HRGYnNQG9AAACAAABkASJBLIAEwAyAAATBTczFyUWHwEGDwEGByUnJi8BNxMXMzcXMzcXMzUX
NxczMhcWFwYPAScFBg8BJyYnNjd7AbwmHFUBEUI5LwERaUtL/U4cQDowHeOWciYSE2gcEwocQkFN
VDsaGkSYG/62TVRosy0fGTMEsjgJFCYCNkwlJl4CERMJIjMwSv7TJgkJCQkJCQkJHC9WQi4UCx0V
CAk4Nk5ARQABAAAAAAR6BdwAJgAAExcFFxYXFhcWFwYPAQYPAQYPAgYHJi8CNwE3LwEmJyYnJi8B
N+/4AQujQkQrDhkNEidpQkRpLD22LzxKS05MExwBfjoTozpVNjMsDQppBdyiVh0gLSdCQ1VDQzoT
L2owL+WQIRgNLH1pOQG3ME0cHR0nODRSj00AAAAAAgAAAAAD1AdCADgASgAAARYXFh8DBgcGDwEG
BwYHBgcXBgcVMwcGBycHLwEmJzY3Njc2NzY3Nj8BJwcGDwEnJi8BNjc2NxMWFxYXBgcGDwEnJicm
LwE3NgJGNUU7NilHMwUuDRxcOzU3LzIgHw8GCwsvQWYpFFIXBwkVHkgdNTYwIyQfKRQjOaOPIB4U
Fzs4TFxXYTosAShBYnAfBBBEDhQ9KgdCEwEkOJlnmUlGPjxmIzkiMCVBRwkWFAszKAoKFHs0PExN
Oys4LiU3Jz8pFAoyKikfMj6FQTolIvstCygsT1JROxcKCh4fIk9cMzoAAgAAAAAH8AdAAJcAoAAA
AQUWHwIWHwIWHwEHBgcGDwEGDwMGBycHJyMVJyYnBScmJyYnJicmLwE3Njc2PwE2PwI2NxYfARYX
Fh8CFhc2PwE2NzY/AScmLwElBycHJw8CBg8BBg8BBg8BFwcWFxYfARYfARYXFh8BNx8BNzY/Ah8C
DwUvASYvAyYvAzc2NzY/AjY/ASUTBgcVFzc2NycDewGrKzveVCwxU0EYDRwTChsMIkEnLVxBXSw6
ZjgSEwkuL/7qXSoqLCcdEhQHJgoPHxImNx4tSmY3QjA2XCwfKSolCg4ELy5dHxgbJgoKDBmd/tcc
ZmYcVG9dLDGLHRovEwkcExMDEAkTLiUlVCg1LDFTShxmXTE1b/tmSiV4VGZm8V3xZi05ZmboIxVB
JRwJCBQSHUA4HhqLARboKx9dHCsfCQdACQ8EQTcRHkFTLTnyZi0wMipLGSg3QSUSCgkJCQkJDBlB
HBgpEScVIh0uXGcnIy0wUyQmOAkTCQYWHBgpGChUXSg1BxUvJC8pK1wcMDZwQQoKCgoKGzgQHowo
NF0tOV0cOCoyLjlTICo4FgYMGRwJEhwcAhAcjApKZqcvGy8uHBwcBA4TLrEmNktmzHgsMTE11l0j
MJWU/Vs3SzgTCjdBQQAAAAACAAAAAAVRBqIALwA3AAABFh8CFhcTFhcHFxYXBg8BJyYvASYnBwYH
JwcGDwEGBwYPAScmJwE2NzY/ATY3NhMGBxYXNycmAqltfIY5KBtOMBMXIRUNGW16Tj4FFw8dWigm
FkNRNSwIGjhlIJFNDQE5JB8gFywFHUbGIRcHUyEXDQaiBB9zoEtd/o0/TqCxSGBTKBsbSmaxKScb
DgMjEgQ5sUpNPhESLC1PAz9IYFBhjj9FLf2vQ1M9ExtPPAAAAAADAAAAAAWBBqIAOgBIAFYAAAEX
NxYXFhcWFxYXBg8BFxYXFhcWFwYHBgcGBwYHBgcGBwYHBgcvATc1JzcnNwMmLwI3Njc2PwEXNzYT
BgcnBwYHFhc2PwImEwYPAScPARcWFzY/AgJWV2FJZEhJPCUcARwyMCdGLjpDFgcTOiU8OE88VUJY
PVQ1Uj1UfVcTCQkJCSYNLTAnMCdNM0tqHRNH5CEsHUQLGx84ISJNOh5sUWdDOjEJCQNBQliIagai
CgoHFhQ5KExFXzxLYCcRPCBBTGFJSEY3LikrIyYdJR8xJSAHOn2bcx0KHWAB0ExOmhRgPS0qBgoT
CQr+uA4FCU0sNCYBDwROVhv9yR4SMBMnHU1LMiwhTXQAAQAAAAAGHQajAD0AAAEzBRcWFxYXDwEG
BycmJwYHJw8GBgcfBDUXPwEfAgcGBwYPAQUnJSYvBDcnNxM/AiUDq50BAVkhLQMUIkM7QHAkNQIU
LYZaTkNOhhcQBgs4WXDrC9TKe0MWLSYzJTXf/v/r/rwlNTdPLBcLFhaS1E5DASMGoy04ICMyPWVO
ChgLGAoPByEWOENORLJwJTUhWjciCwsLOFkLQ2VkIyAeGk4iFnsfGVpOZFohe3sBLutDTp0AAgAA
AAAE2gaiACMAOQAAARYXBR8BFhcWFQ8EBScmJzY3Azc1IzcRNycmLwE2NzY3AQYPAR8BBwMfAQcX
PwMvASYvASYBUj9TAWTAmw0hCQlAt9t3/tykMCIBGhIJCQkJEh4rLh8YJ0YBmzAiCQkJCRIbCQkJ
N7dSQAk3HitSKwaiKwy/ye5CUEBSJIDSrklkEio7RU0BLRtAEwEbdjc6Pe0tNzgk/jcjOEkbEwn+
5f8cEi4Tm1tkiW4wK1wdAAAAAQAAAAAFQAaiAFMAAAEzFxYXFh8BBwYHBgcFBgcGDwEXNyUXFh8B
BgcGDwIGBwYHBg8BFwcXFTM2PwE2PwEXFhcWFwYPAgYHBg8DJi8ENycTLwE/AiUfASUDyoMfLTgm
IR4UMD83Q/76NEYeMxQ9bwFNHygpHhAjJz5vjTE+Mj4yPUYKCgoKQULzNUR5eTUwHBcRImVlPkU7
PnrUZUFCeUceCwsLHzMUHltvARsVHgEbBqIKChQqOx9HJRcTDDIWEiwlPRQKWxQeKW8zKCwbKBUY
EBwMGBEKRzIVMgYYRxYSKQodKjA/Njk9KAQRDBwecCgHFylbg3lwHgIYjY5vRzIoCgopAAAAAQAA
AAAFBgaiAEQAAAEXNwU3BRcHBg8CJw8BBgcXFhc3FzMXMzcXFhcPAQUnDwEGBxcWFwcGDwEmJyYv
ATcnNS8BJi8BNzY/AS8DPwE2NwEPZVoBOGQBOGQeLzb7HiihRhkFCiY0KG8eKG9QFEolHkf++xRv
UB4UHhgQChclUWNwGRkoCgoUMhAjKB4SIRQUMzwUKB4XJgaiHhQeCkaXZRUJChQKMigdKmQWCAoK
CgoUMltkPTIKFB4dKshHWigqJygEJCIvWoMeRm9GLiJbZCMZH6BRPJcUWiESAAEAAAAABh0GogBR
AAABFxYXFh8BBgcGBwYHJwcGDwIGDwEGDwEXFhcWHwE2NzY3Ji8CJi8BNj8CFz8BFzcXMh8CCwEG
BwYHJyYnDwElJicmLwM/BDY3A62POTgbGB8XEiU3NDMeSDg4cVwsMD0iHCkpIjAxP5BJUC4uIjBw
XBEEHhkQXHBIHmceZ3A/J2cKeykgMT5HhSU3hXH+wzQyMzRRSCkfcI+51jxUBqIfFic1RikXJisn
EiEUCgQQH1IdKnEvQXuFKCohHAsFEBotJBo9UkBFMxEiPjMfFQoVFSkzPnD+e/7YMyoRAykuJB8K
Uh4pHipSZrj24cyaZhsOAAABAAAAAAXpBqIAUgAAARYXFh8BBxYfATcXNzY/ASYnNyc2PwIfAgMX
BwMXFhcWFwYPAi8DNycjBycjBwYPAR8BBxcGBwYHLwI3Jzc1LwE3LwImLwE3Nj8BMwFzO0ASIikp
Ch97H7kfIxsKEyAUHxgmXWeGUkhSChUKCgQRDgcKFXIerzQfCgofmh9IH3EjEAsLCgoUEiE2RntT
KQoKChQpKQoLMxsOFSkmN1yRBqIMHSkpfPctMCkLFQoUKpA1PB9INCk+FCkpU/4IXB/+y5BARjZF
MDcpFV1nhfcfcQoKMyc2ZylnH4UxNhgRHkh8Zx97kIZxxB+QZyc1PikjGz4AAQAAAAAChwaiACIA
ABMWHwMHFwcGBwMTFwcXBwYHLwM3AyM3Eyc3Jzc2Nzb+PE9/US4MDC4PHy8MFwwYGCY2ln9RFwsX
CwsMDAw6Oio+MAaiEAcjUX8iUVEqMv5r/t+KdCJdJCEMIlHcFwGUIwE3XSNn5yEZFQAAAQAAAAAE
qAaiADQAAAEWFxYXFhcWFwcVEw8FJicmLwEmJzY3NjcWFxYXFhc2NzY/AScmLwEmJyYvATM2NzYD
DVVeMS4hHgQRFUoLNGqJs9NdbEhrXwITAzInV04xFwlMZ01HPCMKCgEVHxQ2E0EgFR42RgaiFygf
NkJcMC8VKv28s7R+XzUVAR8gFIlGTltYRSUORk9lMgMZMTNWnx9XUp5JS1JCnjs5IgAAAAEAAAAA
BYwGogBUAAATFzcWFxYfAgYPAQYPAT8CNj8DNjMfARUzDwQfARYfARYXFhcWFwYPASYnJi8BJi8B
BwYHBgcfAgcGBwYHJicmJyYnCwE3NSMnJic/AakeTy80MDQ7HgoeHQ8FCieLeBgFHkZtM0RjPAoU
KIt3Hh5QKi9FKjAwKRUJByFtN0AwM1onMmN4Lj8vIBQnHhQPIjZCMzouKxMLTwoUChQWEhQ7BqIU
CgUZESBQbS80ZDtGWQqfvCczT1AxCjtaYx5tn707FEYbKkYaKxgkLDcxMhQNGxMePB8cMgoXBxEq
bW4dRjY3EgwIFhIfNEQB3AEg7x1uNENZWQAAAQAAAAAFGQaiADsAABMWFxYXFhcGBxYXBgcGBwMX
BxcVMxclFzczFxYfAQcGBwYHBQYHJyYvAjc2NzU/ASc3Eyc3JyYnNjc21FdoSTYYKAogFgohChcJ
KgoKCgs1AZMgCyC0LSgVKkFUVnT+jUVPv0Y6NRUVFgoLCgoKFRULCw0IEyIsBqIBHxlGGRImJEJI
P1ZKX/7MIEAVXyAVCwsVOUdfNSgYFAErHA4LHkFgVV9UYKAfdSAgASlACoAjMiYkNAAAAAEAAAAA
CHAGoQBQAAABBRcHHwE2PwI2PwEXFhcWFwcXBxcHExcWHwEWFw8CJi8BAwYPAwYHJwcnJi8CJicH
FxYXBwYPAS8CJic3Nj8BEzc2PwE1IzY3NjcCsAEFVBgvGCcgmmsqQZprNDcVAwwMDAwMGC8hMjwZ
FkePdjEum2oTBQw7ay8wJGokQjU7MBUyLwwFEjszOIKPa2oLGQwoNzuPFxoKDAwrKCQ7BqFH4iN3
giEy1VMpHiQvIDM7VKZTGBgL/u+PNSqCLzx3LwwmOdUBBikral9TChoYDBgUM2uCLyT5dzEuahws
LwwvU0BDpiQjXwGImkNXdyQsPjAvAAABAAAAAAV7BqIATwAAAR8BFhcHFTMPARcHFwcXBxcVMxcH
Bg8CJyYnJicmLwIPAR8BBxYXDwEGDwEnBy8DNzY3Nj8BEzY3Nj8BHwQWHwE3Eyc3Jzc2NwRphFsb
GBQKCgoKCgoVCx8KCgs9Ly1mZVwiLyscHBcfeigKCh4UCBYeHyQjUR8eUWZHKQoQIw0cKKMZECIv
hHBRKR8yDB0zCjMKChQKBRkGohQ9LDp6Zh70H0cU6hSjFBV6WxMgHwofJiESKyEwcK1HcGZHHhka
KVseKhQKCgopUVJlMiosL/4COiY1JCMVKT1b6mY2Oh4oAVAzHsEfNzkAAAIAAAAABdYGogAdADQA
AAEWHwEWFxYfARsBBwYPAgUHJi8FNzY/AQkBBgcGBwYPAhcWHwE3Mz8FLwECp0lWcT4+QD1mky0L
ER2p1/7lql5XiGZaRBcLCxcuAUgBjDhFJDYXLTkiFyEuORcWIn1lWzkLOU8Gog8eZhspHzBm/vD+
2iJDRe7AfQsCIDllfYi1k1NXngHQ/pYgGC4tNzp9k540MgsLCzlEWn2efWYAAAAAAgAAAAAE4wai
AC8APAAAARYXBRcWFxYfARYXBg8DBgcGBxMGDwEnJicmLwEmJzcvATcnJicmJyYvATc2NwEHBg8B
Fwc/AjY3JgEnRF8BO5k+PDUmRx0MCRZHcP49UR4BMzJSKXBARCAJCg0bCgoVKR8DJRcSJAUUMyhI
Ai9RJQ4KCgozW0cUASgGohMMHikVKB00jkdcTE2OZpgtGjtJ/tk8FhQUGi49UbdGSB9bH46jS1c2
RDRRMkgyKf5fUR8yZikUFD1SNjkhAAAABwAAAAAHJAaiAC0ARgBKAE0AUQBVAFwAAAEFHwQHFQcD
BxYfAg8BJyYvAQcjFScmLwU3NT8BNj8BNjc2PwE2AQYHBg8BFh8BNxcWFxYfARYXNzY3LwImBQc2
Nw8BNg8BNzUHFhc3DwEXFhcnJgMxAXmsi+JWCwsLzIELIFYLC2uXSUOLwqwrUmWhjGFACwsLFSYl
bDlTO1uBUQFoMkQ5PswPHHZMFTMuMCZLJTxhJiUgS2w3/ccVIhRWFhUqCxUgAxMKQAsrR1p2FAai
YUtW95dWFUEg/vRsRUeWVhZAICg5VisLCwcZS2GMrHYrtxUgRV12OjEzI2wG/oIuHggYQBUBKyAg
GCgVLGskElYqN4FgTBu9NRAlNSsQMTUgFUsYEytLVlYoGHZAAAAAAgAAAAAFpAaiADgAQwAAARcW
FxYfAgcGBxYXFhcWFxYXBgcmLwEmLwEmJyYnFhcHBgcmJyYnJi8BJicmJzUmJzY/ATY3NjcTDwIW
Fzc2PwEmAwXLNlk1OkgUXDkYKhM6LDYvHQIgWmJfcCVLjh9bHioMHQo0UFViSDISAxQSAhQpJAUV
MoRJWltm6nBRRxlCejw+HykGoik5LDtUrcuYN1hKYzpUNlhSZU0ZBzaEREBISxoUCzMzrUIuAyYr
WVh01WmBQUMzRl1FU3AYEREh/mo9cIQ4BUcgMXoyAAEAAAAABNsGogBQAAABFzUfARYXFhcWFwYP
AQYHJi8BBwYHBgcGDwEXFh8EFhcWHwEPAgYPAy8BJic3NjcXNxc3Mz8BJi8CJi8EPwE2PwI2NzY3
ApHKFGUlIh0LHQwQI1s0OyEmRm8sLyIbGw0VChUoZenAUCUiIRwUCkc8Iy5R1HreWxcRChclH1s8
FB9lURot1LYpKEc8MwoKKQ4aeUcnNCEwBqIKChQfHCoeKS43LCUyFgkCEhUzBxceKSgzRx4qHSgU
PTMbKyEwb3A8UR4fMj0KMzIiL2UaDgoKCgofPCQZKFsUHz1Q31seWzA1mDwgExUTAAAAAQAAAAAG
1gakADgAAAEXNxcWFxYfAQ8BJwcGDwEXBwYHAxYXBxcPAQYHJyYnNzU3JzU3LwImJwcmJyYnJic3
Nj8BFyUXBYcqaRQDEjo5ICqSsx9VUwoKHxoQKgMSCxUKFUppnDUfCgsLCwsKCw9F0UpJRE4PJl9I
X50VAv4eBqQLCwsLCzRFbUJYFgsEMxZBWE5i/mBWZSF4LBY6CE1BY7uZIQuwIQuvIUcGIQoiIEJX
ZI4xBgsWQgsAAAABAAAAAAVmBqMARAAAARYXFh8CEwMHAQYHBS8HNyc1Iz8BLwE3JzY/ATY3Mx8E
BwYHFw8BAx8CPwMnNyc3JzcnNjc2NzYEBzYwLiw5IkQLIv7OJjX+/O5xRFs5LSILCwsMDAsLFyIi
Ax8XLyufcU9bFyIiCBoWIjguDER8Zls5LQsLCwsXDDkDFAkZJwajDSwVI1t8/ev+5X3+2h4bTxci
T0RaZn2IWyJlIn1mIjlxOUNmCBoiTzlPFjkxNUQXZv7DiFoXIkRbcU9PDBb6FvkzMy8sGwAAAAAB
AAAAAAegBqIATQAAARYfAhQXFhcHFwcGDwEGBwMPAxcPAi8KJicmLwEmJz8BNj8BHwEWFxYXFhcW
FwcfAhYXFh8BFhcBJic2NzY/AQYXPk1cXRcaCAsXFwwiRhYjuTojOSMMI1FzdHNdUTkvUDp/OkUg
MRYvXRYBI0UrPUUjUTQ0ISQlIAgbDBcvORMnEydFJjcBIAQTBBMaFUUGohEGOiMzNCg1FzoXLiNF
MTf+YFx0XHRcF0UMDCI6RV1oUF2iaFAoHjAhuC46XVwfDxcXFxYjHComNjAtUCNoXC8uMCxRHAcC
4ygpDgksPFEAAAABAAAAAAj+BqQAYAAAExYXFhcWHwEHFwcXFhcWHwE2NxsBPwEXFh8BFh8BBxYX
PwMnPwEWHwIGDwIGDwIXBxcGBwYPAS8BJi8BJi8BBgcGDwIXBgcGDwEnJicmJyYnAyYnJicDJic2
N6FJY00/LychFiAKCggZDR4KJyWWVmyMFUBXNjMYIBUWKkwrQBYLS3dHT2wgFypLNhYKKwsWCwsi
NDVCa6FXMS9MHyw2EQ8kHUsVCg0eNCxstypBGRIcEHYRJQIejBIODDUGpAIUBi8mO2EgYSCtRlBN
VTUYKAENARhhIBUpDXcvUoEgP0KBoZeMIIxWGShWjDw6jJZMYaxWQAuXP0ItKRVWgS88gUBCKyAs
P02BaytITxIuFisyOj5OSWMBDUVRVVcBGDdKTEsAAQAAAAAFCQamAE0AAAEWHwEWFxYXIxYXFhcH
BgcGDwQfAhYfAQ8BJwcvASYvAg8CBg8BJi8BJi8BNjcBNjcDJyYvAjc2PwIXFh8BFhc2NzY3NjcD
gDo/ZR0pIxopHgsOGigJFRglRjM8WyjARiIbFChlHkdvjREhPDMKPGUhG0ctOIImFxQcFgEuEAWN
RxYmHwoKGSRQmB4yPUYiLxkZDiQhMAamCRUKIRwOGiQtJStHIyMoKUZRRsBa3jwhMEaDKQsVKYMp
J1EeKEe1Ii8yChQKHTRvJjQBiSoxAQZGJSJuURQqJzIoFAkVRxgGIi8gEiEcAAEAAAAABpcGogBC
AAATFzcXFhcTFh8BNjc2PwE2NzY/ARcWHwEGDwEGBwYPAQYHBg8BBgcGBwYHJyYvATc2PwEnNyYn
JicmJyYvASYvATc201khZDZanCEhWUw5KBtYIS0rOU5vVDELCRhDNTpCOHogGBQNZBc2NmYlNGNO
TiwLLAstFiwVTzZPJUopJUInEQs3QAaiCwsWQEX+hiAtLTBgTm+nISEdEBZDJFbILCxOO1U/XZsl
NCEtsVReSyQYCSEgRBa9P1wtIVlUR01ES0UZKUNLZ5AhOQAAAAABAAAAAAYQBqMAUQAAEx8BFhcF
FzcXNRc3Fh8DDwQGDwEGDwEXJRYXFhcWFwYPBAYPAScjFSYvASYvATc2PwI2PwInBgcnBycHJyYn
Ji8BNyc2PwE252leMTgBEDUVFX5UAhNePwoKFV9JaR0XShQgKnMBzi0xKCIWCRItSXRpfTA58VQV
MTjHFSoLICUkaSogFD9UaTE4Xh9UFWkeLCMRFR8fEyFfJwajKgoBFAsKCgoKHwoKCzQ/VBV+vT+8
KDdJLTJoFWgJFh0sLjE1KTUVKhUOHB8KCgkWVCQbiXMfKr1pKzNU0iAOHAoKCgoqJSQaL180FSwo
Kg0AAAABAAAAAASeBzwAHwAAEx8BFh8BFh8CFhcBBg8BJicmJyYnAycmJwsBJzc2N9i2ZhMmFxoT
IkQhLwF3BxuUTUcqDg8fzFAaKonuFxcbNAc8F1s5OH02R4l9Ojf85UtVLREoN1FHTQF3cT8+AQYB
SVsiNy8AAAIAAAAABHwESwAhACsAAAEfAxMXBxcWFwcGBycPASYvAQYPAQYPAS8ENxM3Ew8CFz8B
Nj8BApGAdjtOHgkJMRYHJy01HkQeKiRFLip2OkZiHYBOMRQK/7GJWDseFDtYKRwTBEsKJ1jF/u4o
YmwuPlgaDQoKChwzTgscJxMLCgoeTmJ2kwFrgP68T1hsJxREJjNEAAACAAAAAAP9BpwALQA5AAAT
MxcWFwcXBg8BBgcWFxYXFhcWHwEWFwYVBg8GJyYnAxM2NxMnJic2NwEHBgcWFzY/AiYnwn8dRlYU
JwkUHRgFDEFNT0JGNzREGA8TMCjgiIgddWsTPC8nEwMRMQoXEAodAaJrFgcRHzo7WDoaKgacJxAh
JlgwMZJGTEAXAyQELRYkdUJaR1QuPaU7CRQ6Ch0ZKwEkASRFYAHTHT5KQ0X8UToxOjw5BA9EYiwr
AAEAAAAABDcESwAvAAABFhcWHwEWFwcGBwYHJwcjBg8BHwI/ARYfAQcGDwQmLwEmJyYvATc2PwMC
rzI6QT5PAhEnJzEqOGMdJzY2WAkof7F1Qj4xCiAubICTnUhLdjYsJCAUMRsqTuJ/BEsEIw0kbCgn
HTIwHBUJCQ8ibGwUFDJECR5FOzQ4TjsnChEgOx9DLz2nkz44bJM7AAAAAAIAAAAABIgGoAAzAEAA
AAEWFxYfAQcDBx8BBxcHFxYXBgcGByIPAi8BJi8CNjc2PwE2NzY3Njc2NzY/AzY3NgEPARYXFhc3
NjcmJyYDskdBHAEKCh0KFBMdCgodHhMTJzpPT1d+sKaIOTw7EwodFy1YM0I6RUJQOjsTCgoKHRcj
NP6ybCcWJTFOdRADGzMlBqACLz1ViB7+qydrJxNOppwmMkZCJAMnRRMdRCAuf5JGVj9KYSklIhkV
CA8rOUaSHpI8ORr8BEV+LCIlAjA2Ni8oKAAAAgAAAAAEOARJADQAQgAAARYXFh8DDwEGDwMGBxYX
NzY/AQcXFhcGBwYHBgcGByYvASYnJicmJzcnPwE2PwE2NxcPARYXNzY3NjcmJyYnAfBBXDxHaK8R
GkY9RYx6gjYQO1CdOEtgCREVFw0fGzw1TkNZRleLOjgrLCkLCQkJERQypSg4llcQIyxoMTcUDAIO
JjIESQMOEiM9yEVGTg8mGjQjFEMfDQkdFxIjCQgSLCs0IyIbEAoBGSwhLSM0O1BGNBKCQjjILSrY
MGcUBCADDRYhEQcZDwAAAQAAAAAEAAcLAEcAAAEfAxYfAQ8CLwEmJw8BFwcXFh8CFhcWHwEHBg8C
Aw8BLwEmJyYnEzcnJicGByYvAiYnNzY/Aic3JzcnNzY/AwKrTlg9LBgUGhIIcmBGEho1EQkbCQwg
V0YqJRsaEREUIU+vGjQ+V0YfHhMIPggIGCYeKAIPRiMXFRoaJKYRCAgICAgjChkrRp4HCywaNUYc
KjQSV089GyETLDQaymkfFRoJDx0ZJBs0IB0jEv4FRjUJGgoZHSkBB2lpGhEKBwkIGz0VH08bGj1g
NRGEV0ZgIB5GK0YAAAAAAgAA/lAD6wRKADwASAAAARc3FxYXFhcWFwYHHwEWFxEGBwYHBgcGDwIn
Ji8BNj8BHwE3MzY3NjcmJwYPAScmJyYnJi8BPwE2PwE2EwcGBxYfAT8BJzcnAahWGj1JUkkfLg8d
DzQjHg0BEAkjHkE/VKSKPUY7EhMQK2hoGhk/QyALATNJUldfRk05LiUPCRE9LTJ5PlU9FxQMH1ca
KxEiGgRKCQkRBxMGSDFIFyYZgkNZ/qdLWVFcPzosGSMJEhU5TSIsKwgaEQ4mRFdVTxIiCAgYLihI
P10Zk4syR18Y/rFOKjUzLBIJVmg0GgABAAAAAARbBqEAXwAAEx8BFh8BBx8BDwEGBwYPAQYHFh8B
PwIfAg8BFxUXBwYPAicmJyYvATcnNzY3JicHBgcGDwIGBwYHBg8BJyYnJi8BNzY3Jic2NzUjNjcn
Nyc3Jic3JyYnNzY3NjfjdkUhGx0KCigUFBoXFQkKARIRAhQ7WeNtijsKHQkUFAUYT0UeKCcdHicT
EzEEEAkfWSgnHRQnCgQaCh0iLRSeLyoWBxQKCBUDEA4FCQcCCQkJEwMQHRQDEB0LHSEuBqEKMRsq
RTITFDFjIi0mM2MrLSEuFAonHhR2ReOUFB1GEzAzMRQKBhcdKR0xRmwqLycoKAMaEiBPbC8qHxwZ
GB4xESEjLEUdLSwqLzA8HiItRRTjbC8qT1kvM08mKRkZAAIAAAAAAoEGPwAQAC8AAAEWFxYXBg8B
JicmJzcnMzc2AxYfARYXDwEXBxMPAi8BJic3JzcmJzY3JzcnNjc2AXtTaTwOBCadVGA3JgkJKQtB
bFJhXwkWCzQWFiAqfhYKqCseFSAVBRATAhULCxYpMAY/EC83XFNgPw4xQF5UNAs0/ecBHXUiJ1W8
Sj/+7kopCxU1P14qvhUVCjA6KWogSkkxAAAAAgAA/m4DKQZCABEAQgAAARYXFh8BBxUHBg8BJyYv
ATc2ExYXFhcWHwEPARcTBxcHBg8CJyYvAzcnNjc2NxYXNxcHFhc2NzY3NQMnAy8BNwHVV2E6KwkJ
EzlQZkBNDxsbMXVETywdJRwSJQkJEwoKOCM4gYEbREZ4QBMTJRslKjIiKEkcHAIaMzIOBBsJExsJ
GwZCBTIsQmYbExstHQklFlhvQDr96AwiGjA2QVNTdxz+fhuKpS0vNwoTEB5AeGUbLhgWDwMUBwkJ
JTs8BSA/ShwBJhIBCxKKeAAAAAEAAAAABOkGowBVAAATFxYfAgYHBg8BFwcXNzY3Nj8DFxYfARYf
AQcGBwYHBgcWHwQPAS8EJicjFRcHFRcGDwEGBycmJyYvATcnNyc3JzcnNyc3JzcvAj8BznYrJFgd
DBsSARQKFBQxHh0kNBRYgBMhLkUaDQoxIiMeHRckCB87u0UnJ2KAWbpPYiEtFAoKCgMRRSEtHist
JBcUChMJEwoKChQKCgoKChQnChQdBqMUFCeTbCstKDGnHR46RB0oGxZYMjEUFBM7LTVPTh0oGyok
ISMhRU87WE8nChREMSgHAgk7FB1sMzk7DQcKCBUXLkUduxOnFE8dsRROHjEn9VlOFE8AAQAAAAAC
UQacACgAABMWHwEWFxYfAQcGDwEDFRcHHwEPAQYHLwM3Jzc1EzcnNy8BNzY3NuY9P2kvJxECHSYS
HjlXCgoKORMwMUFzYBMTCgoTHSYJCR0JExUkNgacCBUvFi0yQUMmLCpp/fJpEwpzyB1gFw8TTV/S
QyfvEwEVfE0cfWkcODsSAAEAAAAABrAEsABhAAATFxYXFhc3HwEWFzY/AhcWHwIHFwcXBxcHBgcG
By8CNyc3JwYPAgYHBg8CJyYvATY3Jz8BJz8BLwEGBwYHFwYHFyMfAQ8BBg8BJi8DPwEmJzcvAiYn
Njc2NzbFdjQkKiXsgHYrODU3YoBsLC1FMQoKHhQKCgodMTc/YzEKCgoUCicoJxQXBhsNWGxjNjYx
AxAJCSgUJwodHhwVEQMKKBMoHhQKCjEfMGwqL2w7ChQJARIKCjFFEAQEEBdBJwSwFA8sEh8nCTIc
FQQQOxQoGC1YdoqTzxQdJ2MpJRcHO2xjHSfsdwcXYnYmMyw2RScJFiVjISREFApFE2MUHQ4ZIC8e
HjB2HkV2RCIQHRMeMWMdT4A7O1geYk8qLjs7OxQeAAEAAAAABF8EsgA0AAATFhcWHwE/AhYfARYX
Fh8BAxcHBgcmJyYnEyYnBwYPARUHFwYHBgcGByYnJicTJicmJzY33FJTNTklXBIcVmqBJCUUBwoT
JRI3U1RRKwwlDSplMyAuCQkQAho5VGw/QhACJRIKIx0hOwSyAiMjQgkJCgkDGVI4UlBoJP7IihI4
GwYxQloBXUVFCjFPk4AcJUBSOjQZAxk6Q08B+TtYNkE7PAAAAgAAAAAEpgRMACEAMAAAARc3Fhc3
FzcfAxYXDwEGDwMvBD8BNjc2PwE2AQYPAQYHFhc2NzY/AScmAV5aHiowKDyMblBQZA4GUEYiLqpu
+ni+RigKCjIkGCcfUCkBZzZWPBMBJT9HT0Y8Hig6BEwKChICFB4KKEYy0jtH3FAjI4IyHh5uUG6W
ZNInMx8xRhz+9DszeEJKLSMfOyZIUFo1AAIAAP5zA3EFFAAtADUAAAEfARYfAg8BBg8BBgcGBxUH
FwcXBxMHBgcmJyYnAzcnJic3JzcnNyc3Jz8BNhMGDwEXNj8BAYqygzI1LxwJOR8scEBWPxUKCgoT
CSUvOklENhwJHAkTAxAKChMcHC8THELXNthRQyFSRT8QBRQJLx4thJafei8vSxQICEN6CRwcQiX+
8IMcCgQiM0cBDxyNQkslZ6lUJnAmXnBnGf7ROlqTITxYkwAAAAACAAD+cASBBKwALQA7AAABFh8B
FhcWFxYfAQcGBwMXBxcPAScmLwE3AycmJwcnIxUlLwEmJz8BNj8BNjc2EwcGBxYXFhc2PwInBwJj
OlB2JTQ2NjkMFDsIFhMTChQKWJ41LgkTCgkBHU8dMv7jbU8lDCdZKjmAQUk6FW0dHhMeNUIzLzEK
CkUErA4jRTU4CBUjSol3My/+xYEdp4pjCiNAT04BMR43NQoKCllZbD5MlGIuKzsRIAT+tx0uPyYo
GBAUJ20dFAoAAAEAAAAABIkETAAvAAATHwM3MzcfAhYXBg8BJw8BFwcfAQcXBg8CJi8CNjcnNyYn
NycmLwE2NzY31nBRex5HcBUKj7ckGR4zcIVmKAoVCxQUChINR3owNlJHEgIeChIhFQsqHXANHBIh
BEwfPSgVFQoKC4QsOiwlCws9XB8UPR9RcAQRWykMHTNbChU9ZjAsWx8qPMEtLy8sAAAAAAEAAAAA
A5UErwA8AAABHwEWHwEHBg8BJwYHBgcXFhcWFxYXFhcGBwYHBgcGByYnJi8BNj8BFzcXMzY3Jicl
Ji8BNjc2NzY3Njc2Ak+EajAfCSwtRnIbQ0oiHD4/V0NKNzMZChMzN05DW0NTT1lARBoWDRo+Gj5h
R0YbK/7mQjosFTI0UDhMPk8+BK81EixGR0YyJgkJBScSIxIjGxktJ0M/TkA7MCAnFxcDARkeO1gE
FkckCQkLKi0jaiBBlUVIJykwHyodFwAAAQAAAAAEDQZBADEAAAEWHwEWFwcDFhcWFxYXBg8BJwcD
FhcGBwYHJi8CNy8CJicmJz8BFz8BLwE2NzY3NgIZP0xcFAgSVClHQ0cvLg09i4IbHAEbBxUrO0FK
UwkJCRyCMTUdES55nRwJCRwCGg8yNQZBEChcPEYS/uEtCxEdKztCNi4SCf7PSFY+QygZAiNmubCL
CRIiMj1XZTgJEl0ceDo+RjwZAAAAAQAAAAAEOgSuADAAABMWFxYfAQ8CFBc2PwImJz8BNjcXFh8B
BxcHBg8BBg8BBg8BLwMDJic3LwE2N8hSYEkrVBU1HxU+QEkgCRcLKjNAfi8lCxUKHwIeVCA0fj5K
nh+JXkofAh4VCiAqFQSuARQfSn5pk55GTSEziZ1FTpMLJBtUOEYqdBWeU1WINz1eHhcVC0l+iQFl
REUVNEo9SwAAAAEAAAAABHAEsAAtAAABFh8BDwEDBwYPAQYHBgcvASYnAyYvASYnNj8BHwEWFxYX
ExYXNzY3Njc2PwE2A8szOzcSXMlTDiAbNkEeLDduJRF4HRA3IQQLNRJ4dyYjKQUuFSIbKCEqKRQ1
QCkEsCY/QDdu/nZ3RU2KGhQRCi5ALkkBkzxEdzpHRDwbCS4fMzBH/u0bHCUxTy1BPESAMgAAAAAB
AAAAAAUnBK8AUQAAARYfAhYXBxcHFw8BBg8BBiMnJi8BJi8BDwIGDwIvAiYvASYvAiYvATY3Nj8C
HwEWHwEHFwcXBxc/ATY3Njc2PwEWHwIWFzY/ASc3BE8rLDw0DQQRCBEJERoYJUUoLlYnJzMcGDws
ESsGFE1FGk48Cxg8EBtFIxIHCQcTFCBeRRJFHhU9CREICAgRERoYExAbGCVeHidFVwIXGhIREREE
rwMXNDwpLdhfxkUaRSMZNBEZDh48Gyo0PaRFJyYrCRESPCgukycm+00uMU4ZGiQhGgkJKx0oPDQJ
EV8rEQlWISwlKR0XCBcUM5MjIhsq2GdfAAAAAQAAAAAEcwSuAC0AAAEfARYXBg8BBgcXFh8BDwEv
AwYPAQYHLwE2PwI2Ny8CNjc2NxYXFhc3NgNFpk4tDQwb4CARTiouHRNORIlhThYRwj5ViB0ED07N
JRVhOx0OIzxMSVMvPFg9BK4nYThHTU+vOUZ1L0ZETjAJO2ExCBXDIwREMTU2Ybk4R05/kkQ6KwYE
IyMXYQgAAAABAAD+bgRnBK8AOwAAEx8BFhcWFzc2NzY3NjcWHwEWFwcGBwYPAQYPAQYHBgcGBwYP
AScmJzc2NzY/ASc3JyYnJicmJyYnNjc2zZVUJRwbOTgjCyA0SV9EPiUEDxMeGjUxQR8iOCgjIx4Q
KBczOGdFPSUhICEXJhMJOCkrJz8gPSsNDT41BK8lZ0NbQUpTRFFCSigQHz4vKCwSQFUrTpU+YIw9
WDlSRVBEUS8KIEaeQ1tDW2dBOF00Tjk3P0MxUkk5LgAAAQAAAAAE2gSvAFUAABMXNjcXFhc3Fzcf
ATcfARYXFh8BBgcGBwYHBg8EFh8BNxc3NR8BFh8BBg8BIwcnDwEGDwEvAzc2PwEBNyYnBgcGDwEn
BycmJyYvATY3Nj8BF/1dHh4QLDFEGUwaOxFMTB0WAxYRDAUZIhgjHSdlPGUZAg/bTBqYGV0kFyIL
FzvcTBnTXSsyskxMMhEIFxMzARczEyAjKSsyKhERTBIhFgwICxcWJV0qBK8ZAw4RAg8ICAgICQkR
KhYlKSxDARAbGBsPFhR3Mn8qCwYICAgICAgREilMJyU7CQkJEAYUKhEqO0QZHCg7AY07Gw8CDwIP
CBEJGSAcJy1MISMhGhERAAEAAAAABDQHQgBSAAABFxYfAg8CFh8CFhcWFwYPAScGBycHJwcGBwYH
HwE/ATY3FhcHBg8CBg8BFwcXDwInJicmLwI3LwQ/BjY3JzcnNyc2PwECN2wtNRMnHR0KBhdiTh4d
EQMNGkUdFRxiYlhYHAseHUVr2GEtNTMvCg0aRFguKhQUKAonO04dKCYfHCcUCgrDRTEnCjEdRTpY
RSoaJwoUFAoIFTsHQgoHFlhYbERYJx4TMRwpJjIsNTsUFQkKCicnJDQcKCcKHR4GFwYhYiwsOycN
Gh07RGJiRBQKDRogLlhsJxNYO05/WE9OO0QxOxEpWGJsRB0nKEQAAAEAAARJA/wHPQA1AAABLwEm
JyYnJic/AjY3FhcGDwEWFxYXNyc/ASc3Njc2Nx8BBgcGBx8BFhcWFwcGDwEnJi8BBwFliF0hGxQO
HwMJXWYzTT0xFyQ8ARkdJxEJCQgIMyMyMT2AIgQWIiIJbjI0LQYzOk5mETw7ZioESRk8Jz85TztN
blU8IggHNDU6bkREGxAiRBEaGXcpLCUfKhouLyw6byoMFiM7ZhgSESISIURvAAAAAAEAAARJA/wH
PQA1AAABHwEWFxYXFhcPAgYHJic2PwEmJyYnBxcPARcHBgcGBy8BNjc2Ny8BJicmJzc2PwEXFh8B
NwKXiF4gGxQOHwMIXmYzTD4xFyU7ARgeJhEICAkJMyQxMj1/IgMWIiIIbzI0LQYzOk5mETw7ZisH
PRk8Jz85TztNblU8IggHNDU6bkREGxAiRBEaGXcpLCUfKhouLyw6byoMFiM7ZhgSESISIURvAAAA
AAEAAARLAkQHPgAXAAABLwImLwE3Nj8BHwEHBg8CHwEWFwYHAa+EhE8oHhIjKDnKnhojJCIjCQl7
LiECIQRLEj1yNU8acjIvwSwRczlKIz4RLCxGP0UAAAABAAAETAJEBz8AFwAAEx8CFh8BBwYPAS8B
NzY/Ai8BJic2N5WEhE8oHhIjKDnKnhojJCIjCQl7LiECIQc/Ej1yNU8acjIvwSwRczlKIz4RLCxG
P0UAAAAAAAAXARoAAQAAAAAAAAAYAAAAAQAAAAAAAQAJAGMAAQAAAAAAAgAHABgAAQAAAAAAAwAP
AB8AAQAAAAAABAAJAGMAAQAAAAAABQASAC4AAQAAAAAABgAJAGMAAQAAAAAABwAjAEAAAQAAAAAA
CgBGAGMAAQAAAAAAEwArAKkAAwABBAkAAAAwANQAAwABBAkAAQASAVQAAwABBAkAAgAOAQQAAwAB
BAkAAwAeARIAAwABBAkABAASAVQAAwABBAkABQAkATAAAwABBAkABgASAVQAAwABBAkABwAwANQA
AwABBAkACQAUBRYAAwABBAkACgCMAVQAAwABBAkADAAyAeAAAwABBAkADQsGAhIAAwABBAkAEwCq
DRipMjAwMzsgYSAqZGlidWphZG8qIGZvbnRSZWd1bGFybnVzYWxpdmVyOi0zLDAwLTMsMDAgTWF5
IDI2LCAyMDAzbnVzYWxpdmVyqCBUcmFkZW1hcmsgb2Ygq2RpYnVqYWRvuy5udXNhbGl2ZXIgaXMg
Y3JlYXRlZCB3aXRoIHRoZSBGb250IENyZWF0b3IgUHJvZ3JhbSBmcm9tIEhpZ2gtTG9naWMuY29t
VEhFIFFVSUNLIEJST1dOIEZPWCBKVU1QUyBPVkVSIFRIRSBMQVpZIERPRwCpADIAMAAwADMAOwAg
AGEAIACrAGQAaQBiAHUAagBhAGQAbwC7ACAAZgBvAG4AdABSAGUAZwB1AGwAYQByAG4AdQBzAGEA
bABpAHYAZQByADoALQAzACwAMAAwAC0AMwAsADAAMAAgAE0AYQB5ACAAMgA2ACwAIAAyADAAMAAz
AG4AdQBzAGEAbABpAHYAZQByACAAaQBzACAAYwByAGUAYQB0AGUAZAAgAHcAaQB0AGgAIAB0AGgA
ZQAgAEYAbwBuAHQAIABDAHIAZQBhAHQAbwByACAAUAByAG8AZwByAGEAbQAgAGYAcgBvAG0AIABI
AGkAZwBoAC0ATABvAGcAaQBjAC4AYwBvAG0AaAB0AHQAcAA6AC8ALwBkAGkAYgB1AGoAYQBkAG8A
LgBwAG8AcgB0ADUALgBjAG8AbQAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAg
ACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAXwAgACAAIABfACAAIAAgACAAIAAgACAAIAAgACAA
IAAgACAAIAAgACAAIAAgACAAIAAgACAAIAANAAoAIAAgAF8AIABfAF8AIAAgACAAIABfACAAIAAg
AF8AIAAgACAAXwBfAF8AIAAgACAAIABfAF8AIABfACAAIAB8ACAAfAAgACgAXwApACAAXwBfACAA
IAAgAF8AXwAgACAAIABfAF8AXwAgACAAIABfACAAXwBfACAADQAKACAAfAAgACcAXwAgAFwAIAAg
AHwAIAB8ACAAfAAgAHwAIAAvACAAXwBfAHwAIAAgAC8AIABfAGAAIAB8ACAAfAAgAHwAIAB8ACAA
fAAgAFwAIABcACAALwAgAC8AIAAgAC8AIABfACAAXAAgAHwAIAAnAF8AXwB8AA0ACgAgAHwAIAB8
ACAAfAAgAHwAIAB8ACAAfABfAHwAIAB8ACAAXABfAF8AIABcACAAfAAgACgAXwB8ACAAfAAgAHwA
IAB8ACAAfAAgAHwAIAAgAFwAIABWACAALwAgACAAfAAgACAAXwBfAC8AIAB8ACAAfAAgACAAIAAN
AAoAIAB8AF8AfAAgAHwAXwB8ACAAIABcAF8AXwAsAF8AfAAgAHwAXwBfAF8ALwAgACAAXABfAF8A
LABfAHwAIAB8AF8AfAAgAHwAXwB8ACAAIAAgAFwAXwAvACAAIAAgACAAXABfAF8AXwB8ACAAfABf
AHwAIAAgACAAKgANAAoAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAA
IAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAg
ACAAIAAgACAAIAAgACAAIAAgACAADQAKADEALgAgAGkAcwAgAKkAIAAyADAAMAAzACAAqwBkAGkA
YgB1AGoAYQBkAG8AuwAgAHwAIAAyAC4AIAB3AGEAcwAgAG0AYQBkAGUAIAB1AHMAaQBuAGcAIABI
AGkAZwBoAC0ATABvAGcAaQBjACcAcwAgAEYAbwBuAHQAIABDAHIAZQBhAHQAbwByACAAUAByAG8A
ZwByAGEAbQAgADQALgAwACwAIABhAHYAYQBpAGwAYQBiAGwAZQAgAGYAcgBlAGUAIABmAG8AcgAg
ADMAMAAgAGQAYQB5AHMAIAAuAC4ALgAgAHQAaABlAHIAZQAnAHMAIABhACAAbABpAG4AawAgAHMA
bwBtAGUAdwBoAGUAcgBlACAAaQBuACAAdABoAGUAIAAxADAAMAAxAGYAbwBuAHQAcwAgAHAAYQBn
AGUAcwAsACAAbwByACAAaABlAHIAZQA6ACAAaAB0AHQAcAA6AC8ALwB3AHcAdwAuAGgAaQBnAGgA
LQBsAG8AZwBpAGMALgBjAG8AbQAvAGQAbwB3AG4AbABvAGEAZAAuAGgAdABtAGwAKgAqACAAfAAg
ADMALgAgAGMAbwBuAHQAYQBpAG4AcwAgAGcAbAB5AHAAaABzACAAZgBvAHIAIABlAG4AbwB1AGcA
aAAgAGMAaABhAHIAYQBjAHQAZQByAHMAIABmAG8AcgAgAHkAbwB1ACAAdABvACAAdAB5AHAAZQAg
AHUAcAAgAHkAbwB1AHIAIABoAG8AbQBlAHcAbwByAGsAIAB3AGkAdABoACAAfAAgADQALgAgAGkA
cwAgAGYAcgBlAGUAIABmAG8AcgAgAG4AbwBuAC0AYwBvAG0AbQBlAHIAYwBpAGEAbAAgAHUAcwBl
ACAAfAAgADUALgAgAHcAbwByAGsAcwAgAHcAZQBsAGwAIABmAG8AcgAgAGwAbwBzAHQAIABwAGUA
dAAgAGYAbAB5AGUAcgBzAA0ACgANAAoAUABFAEEAQwBFACEADQAKAA0ACgAqACAAYQBzAGMAaQBp
ACAAdABlAHgAdAAgAGMAbwB1AHIAdABlAHMAeQAgAG8AZgAgAGgAdAB0AHAAOgAvAC8AdwB3AHcA
LgBzAGMAaABuAG8AZwBnAG8ALgBjAG8AbQAvAGYAaQBnAGwAZQB0AC4AaAB0AG0AbAANAAoADQAK
ACoAKgAgAC4ALgAuACAAbQBhAGQAZQAgAHUAcwBpAG4AZwAgAGEAIAB0AGgAZQAgAG8AbABkACAA
YwB1AHQAIABhAG4AZAAgAHAAYQBzAHQAZQAgAHQAZQBjAGgAbgBpAHEAdQBlACwAIABmAHIAbwBt
ACAAYQAgAHMAYwBhAG4AIABvAGYAIABoAGEAbgBkAC0AZAByAGEAdwBuACAAbABlAHQAdABlAHIA
cwAgAHUAcwBpAG4AZwAgAGEAIABwAGEAcgB0AGkAYwB1AGwAYQByAGwAeQAgAHQAaABpAGMAawAs
ACAAdwBlAHQAIABiAGwAdQBlACAAUwBUAEEAQgBJAEwATwAgAHAAZQByAG0AYQBuAGUAbgB0ACAA
aQBuAGsAIABtAGEAcgBrAGUAcgAgAG8AbgAgAHIAZQBjAHkAYwBsAGUAZAAgAHAAbwByAG8AdQBz
ACAAcABhAHAAZQByACwAIAB0AGgAZQBuACAAcwBjAGEAbABlAGQAIAAiAG0AYQBuAHUAYQBsAGwA
eQAiACAALgAuAC4AIABpAHQAIAB3AGEAcwAgAGMAbwBvAGwAIAB0AG8AIABwAGEAcwB0AGUAIABp
AG0AYQBnAGUAcwAgAGQAaQByAGUAYwB0AGwAeQAgAGkAbgB0AG8AIAB0AGgAZQAgAHAAcgBvAGcA
cgBhAG0AIABhAG4AZAAgAGgAYQB2AGUAIABpAHQAIABjAG8AbgB2AGUAcgB0ACAAdABoAGUAIABp
AG0AYQBnAGUAIABpAG4AdABvACAAYQAgAHYAZQBjAHQAbwByAGkAegBlAGQAIABnAGwAeQBwAGgA
IAAoAG8AdABoAGUAcgAgAHAAcgBvAGcAcgBhAG0AcwAgAEkAJwB2AGUAIAB1AHMAZQBkACAAbABl
AHQAIAB5AG8AdQAgAHAAYQBzAHQAZQAsACAAYgB1AHQAIAB0AGgAZQBuACAAeQBvAHUAIABoAGEA
dgBlACAAdABvACAAcABlAHIAZgBvAHIAbQAgAGEAIAAiAHQAcgBhAGMAZQAiACAAbwBwAGUAcgBh
AHQAaQBvAG4AIAAuAC4ALgAgAEkAIABkAGkAZABuACcAdAAgAHMAZQBlACAAbwBwAHQAaQBvAG4A
cwAgAGYAbwByACAAdABoAGUAIABjAHUAdAAgAGEAbgBkACAAcABhAHMAdABlACAAcwBvACAAYQBz
ACAAdABvACAAYQBsAGwAbwB3ACAAYQAgAGYAaQBuAGUAIAB0AHUAbgBpAG4AZwAgAG8AZgAgAHQA
aABlACAAZwBsAHkAcABoACAAdABvACAAYgBlACAAaQBuAHMAZQByAHQAZQBkACAALgAuAC4AIABt
AG8AcgBlACAAbABhAHQAZQByACwAIABvAG4AYwBlACAASQAgAGYAaQBuAGkAcwBoACAAdABoAGUA
IABvAHQAaABlAHIAIABmAG8AbgB0ACAASQAnAG0AIABtAGEAawBpAG4AZwAgAHcAaQB0AGgAIAB0
AGgAaQBzACAAbgBlAGEAdABvACAAKgBmAHIAZQBlACoAIABwAHIAbwBnAHIAYQBtACIAIAAuAC4A
LgAgAFcAaABlAG4AIAB0AGgAZQAgAHcAbwByAGwAZAAgAGkAcwAgAHIAdQBuAG4AaQBuAGcAIABk
AG8AdwBuACAALwAgAFkAbwB1ACAAbQBhAGsAZQAgAHQAaABlACAAYgBlAHMAdAAgAG8AZgAgAHcA
aABhAHQAJwBzACAAcwB0AGkAbABsACAAYQByAG8AdQBuAGQAIAAuAC4ALgAgACIAAgAAAAAAAP8n
AJYAAAAAAAAAAAAAAAAAAAAAAAAAAABeAAABAgEDAAMABAAFAAYABwAIAAkACgALAAwADQAOAA8A
EAARABIAEwAUABUAFgAXABgAGQAaABsAHAAdAB4AHwAgACEAIgAjACQAJQAmACcAKAApACoAKwAs
AC0ALgAvADAAMQAyADMANAA1ADYANwA4ADkAOgA7ADwAPQA/AEQARQBGAEcASABJAEoASwBMAE0A
TgBPAFAAUQBSAFMAVABVAFYAVwBYAFkAWgBbAFwAXQCEALQAtQC2ALcFLm51bGwQbm9ubWFya2lu
Z3JldHVybgAAAAAAAAH//wAC)
}