
extends layout

block append vars
  - bodyclass = 'about'

block prepend title
  | #{ page.title + ' - '}


  
block beforeContent

  div(style="background-image:url('img/aboutus-img.jpg')",class='featured-image')
    div.h1-container
      h1 About Us


block content   
   section.content!= typogr(page.html).typogrify()
   
block aftercontent   
   - var articles =  env.helpers.getProfilesArticles(contents)        
   section#partners.profiles
      h2.partners Partners
      div.profiles
        each a  in articles
          article.card(data-name = a.metadata.name)
            div.top-img(style= "background-image:url(img/" + a.metadata.id +".jpg)" )
            h2 #{a.metadata.name}
            if a.metadata.links
              div.socials
                each i in a.metadata.links
                  a.icon( class=i.key+"-icon", target='_blank', href = i.value)

      div.details 
        each a  in articles
          div.profile(data-name = a.metadata.name)
            != typogr(a.html).typogrify()
      

block bottom_scripts
  script.
      $('#partners .card').click(function(){
        $(this).siblings().removeClass('active')
        $(this).addClass('active')
        $('.details .profile').removeClass('active')
        $('.details .profile[data-name="'+ $(this).data('name')+'"]').addClass('active')
      })
      $('#partners .card').first().trigger('click')
  style.
    @media (max-width: 690px) {
     article.card > .top-img{display:none;}
      h2 {font-size:1em !important;}
      section.profiles >h2{top:-32px !important}
      #vision{margin-top: -8em !important;}
    }
    article h2 {margin-bottom:0;}
    article .socials{
    z-index:2;
    cursor:pointer;
    }