
extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + ' - '}


  include author
  p.author
    | #{ 'Written by ' }
    | mixin author(page.metadata.author)

block content
  article.article
    section.content!= typogr(page.html).typogrify()

  div.nav
    a(href='/blog.html') « Full blog

block bottom_scripts
  style.
    img {
      max-width: 80%;
       margin: auto;
    } 