
extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + ' - '}



block content
  p By #{page.metadata.author}
  br
  article.article
    section.content!= typogr(page.html).typogrify()

  div.nav
    a(href='/blog.html') « Full blog

block bottom_scripts
  style.
    img {
      max-width: 80%;
       margin: auto;
    } 