extends layout
block header
block top_scripts
  link(rel='stylesheet', href=contents.css['custom.css'].url)
block beforeContent
  div(style="background-image: url(#{locals.featured_image})",class='featured-image')
  div.h1-container
    h1 #{locals.name}
    h2 #{locals.description}
  button.more.red-bg
block content
  div.article-list
    ssssssssssssss
    block prepend 
      div.nav

  div.other-links
  div.clear
