extends layout
block header
block beforeContent
  div(style="background-image: url(#{locals.featured_image})",class='featured-image')
    
block bottom_scripts
  link(rel='stylesheet', href=locals.url+contents.css['custom.css'].url)
