extends layout
block header
block beforeContent
  
  h1 Co Create Change
  h3 
    span Enhance 
    span Enable 
    span Empower 
  p.values
    | HUMAN SERVICES PROFESSIONALS
    | COUNSELLORS | PSYCHOLOGISTS | PSYCHOTHERAPISTS
    | SUBSTANCE USE DISORDER EXPERTS
    | TRAINERS | CONSULTANTS
    | Facilitating Crisis Intervention | Problem Management | Opportunity Development
  

  section.container
    h3 who we are
    p
      | We are a team of Human Services professionals working with Children,  Adolescents and their Stakeholders. We provide holistic mental health care in Delhi and NCR with an outreach across the length and breadth of the country. We believe in promoting a problem management and opportunity development approach, while at the same time balancing this out with the strength based model of positive psychology  - building grit  -  building resiliency.​

      | Our mission is to Enable, Empower, Enhance

      | Through our outreach programme we collaborate and engage with all possible stakeholders of children and adolescents. Our trainings and sensitization programs help build awareness and capacity in communities, institutions and parent bodies.
block bottom_scripts
  link(rel='stylesheet', href=locals.url+contents.css['custom.css'].url)
