extends layout
block header
block beforeContent
  
  div.h1
    h1 Co-create Change
    h3 
      | Augumenting the 
      span.big.green ME
      |  in 
      span.green M
      span.strike ill
      span.green E
      | nnials 
  p.values
    | HUMAN SERVICES PROFESSIONALS
    | COUNSELLORS | PSYCHOLOGISTS | PSYCHOTHERAPISTS
    | SUBSTANCE USE DISORDER EXPERTS
    | TRAINERS | CONSULTANTS
    br
    span Facilitating Crisis Intervention | Problem Management | Opportunity Development
  

  section.container
    h2 who we are
    p
      | We are a team of Human Services professionals working with millenials, genX, genY and iGen children,  adolescents and their stakeholders. We provide holistic mental health care in Delhi and NCR with an outreach across the length and breadth of the country. We believe in promoting a problem management and opportunity development approach, while at the same time balancing it out with the strength based model of positive psychology - through building grit and building resiliency.​
      | Through our outreach programmes we collaborate and engage with all possible stakeholders of children and adolescents. Our trainings and sensitization programs help build awareness and capacity in communities, institutions and parent bodies.
block bottom_scripts
  link(rel='stylesheet', href=locals.url+contents.css['custom.css'].url)
