
extends layout

block append vars
  - bodyclass = 'about'

block prepend title
  | #{ page.title + ' - '}

  


block content   
  section.content!= typogr(page.html).typogrify()

block aftercontent   
   - var articles =  env.helpers.getProfilesArticles(contents)        
   section#partners.profiles
      div.h1-container
          h2.partners.container Partners
      div.profiles
        each a  in articles
          article.card(data-name = a.metadata.name)
            div.top-img(style= "background-image:url(img/" + a.metadata.id +".jpg)" )
            h3 #{a.metadata.name}
            if a.metadata.links
              div.socials
                each i in a.metadata.links
                  a.icon( class=i.key+"-icon", target='_blank', href = i.value)

      div.details 
        each a  in articles
          div.profile(data-name = a.metadata.name)
            != typogr(a.html).typogrify()
      

block bottom_scripts
  script.
      $('#partners .card').click(function(){
        $(this).siblings().removeClass('active')
        $(this).addClass('active')
        $('.details .profile').removeClass('active')
        $('.details .profile[data-name="'+ $(this).data('name')+'"]').addClass('active')
      })
      $('#partners .card').first().trigger('click')
      $('#partners .card .socials a.icon').click(function(event){
        event.preventDefault();
        event.stopPropagation();
        window.open(this.href);
      })

block bottom_style

  style.
    @media (max-width: 690px) {
     article.card > .top-img{display:none;}
      
      h2 {font-size:1em !important;}
    }   
    
    
    
    .container ul {
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
    .container ul li {
        width: 33%;
    }
    article h2 {margin-bottom:0;}

    article .socials{
      z-index:2;
      cursor:pointer;

    } 
  
    
    
     div.profiles{
        display: flex;
        justify-content: space-between;
        padding: 0 5%;
        position: relative;
     
     }


     section.profiles article.card {
        flex: .22;
        background: white;
        text-align: center;
        padding: 10px;
        position: relative;
        border: 1px solid #ccc;
    }
    .container section{font-size:.5em}
    section.profiles article.card h3{
      height:3em;
    } 
     article.card > .top-img {
        max-width: 50%;
        border-radius: 50%;
        height: 4em;
        width: 4em;
        background-size: cover;
        margin: 0 auto;
        margin-top: -15%;
        background-repeat: no-repeat;
        background-position: center;
        border: 5px solid #69af80a6;
        border-width: 5px 5px 5px 5px;
    }
    .icon:before{font-size:1.3em;}
    .icon{width:1em !important;}

     section.profiles >h2 {
       text-indent:25%;
       text-transform: uppercase;
    }
      
     section .details .profile{display: none;}
     .details {
        background: #fff;
        width: 85%;
        margin: 1em auto 0 auto;
        padding: 1em 2.5%;
        border: 1px solid #ccc;
        
    }
    .details p{ font-size:.7em;}
    article.card.active:after {
        content: "";
        display: block;
        background: #fff;
        height: 1.6em;
        
        position: absolute;
        width: 100%;
        left: -1px;
        border: 1px solid #ccc;
        border-width: 0 1px;
    }
     section .details .profile.active{display: block;}
     section#partners {background-color: #e7e7f3; }
    
     #partners .details li{ margin:0;font-size:.7em;}
     #partners .details ul{ margin-bottom:15px;}
